<!DOCTYPE html>
<html lang="en">

<head>
  <%- include("partials/head.ejs") %>
</head>

<body class="text-center">
  <%- include("partials/nav.ejs") %>

  <h2>Astronomy Picture of the Day</h2>

  <div style="text-align: center; padding: 20px;">
    <img src="https://apod.nasa.gov/apod/image/2510/NGC6302_Hubble_960.jpg" alt="APOD Image" style="max-width: 100%; height: auto;">
  </div>

  <%- include("partials/foot.ejs") %>
</body>

</html>
