<!DOCTYPE html>
<html lang="en">
<head>
    <%- include( "partials/head.ejs") %>
</head>

<body>

    <%- include( "partials/nav.ejs") %>
<img src="<%= randImg %>" width="400">
<%- include( "partials/foot.ejs") %>

</body>

</html>